
@use '../_variables.scss' as *;
@use '../_mixins.scss' as *;

.splash {
  @include flex(center, center, column, $spacing-6);
  min-height: 100dvh;
  background-color: $color-white;

  &__title {
    font-size: $font-size-xxl;
    font-weight: $font-weight-extrabold;
    letter-spacing: 0.02em;
  }

  &__text {
    color: $color-text-muted;
    font-size: $font-size-sm;
  }
}
